<nav>
    <ul>
        <li><img src="{{ '/assets/images/github.png' | relative_url }}" alt="Profile Image" class="nav-img"></li>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/education.html' | relative_url }}">Education</a></li>
        <li><a href="{{ '/projects.html' | relative_url }}">Key Projects</a></li>
        <li><a href="{{ '/work.html' | relative_url }}">Professional Experience</a></li>
        <li><a href="{{ '/skills.html' | relative_url }}">Skills</a></li>
        <li><a href="{{ '/volunteer.html' | relative_url }}">Volunteer Experience</a></li>
    </ul>
</nav>
