<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Adding Minecraft Font -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for the Minecraft theme -->
    <link href="{{ '/assets/css/styles.css' | relative_url }}" rel="stylesheet">
    
    <!-- Page Title -->
    <title>{{ page.title }} | CBM IT Consultant</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ '/assets/ico/favicon.png' | relative_url }}">
</head>
<body>
    <!-- Navigation Bar -->
    {% include nav.html %}

    <!-- Main content block -->
    <div class="container mt-5">
        {{ content }}
    </div>

    <!-- Footer -->
    <footer class="text-center mt-5 py-4 bg-dark text-white">
        <p>Find more projects on <a href="https://github.com/ch1llc0d3" class="text-white">GitHub</a></p>
    </footer>

    <!-- Optional JavaScript (Bootstrap JS and custom scripts) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</body>
</html>
